<div class="page">

    <header class="navbar">

        <a class="navbar__brand" routerLink="/">
            <span>SangreYa</span>
        </a>

        <nav>
            <a routerLink="/" fragment="que-hacemos">Qué hacemos</a>
            <a routerLink="/campanias" fragment="campanas">Campañas</a>
            <a routerLink="/quienes-somos">Quiénes somos</a>
            <a routerLink="/registro" class="nav-cta">Unite</a>
            <a routerLink="/login" class="nav-cta">Accedé</a>
        </nav>
        
    </header>

    <router-outlet></router-outlet>

</div>