<div class="page">

    <header class="main-navbar navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">

            @if (!isHome) {
            <button class="btn-regresar" (click)="goBack()">
                ← Regresar
            </button>
        }

            <a
                class="navbar__brand navbar-brand"
                routerLink="/">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="28"
                        height="28"
                        fill="#e74c3c">

    <path d="M12 2C12 2 6 10 6 14a6 6 0 0 0 12 0c0-4-6-12-6-12z"/>

  </svg>

            
                <span>SangreYa</span>
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div
                class="collapse navbar-collapse"
                id="mainNavbar"
            >

                <nav class="navbar-nav ms-auto navbar__nav">

                    <a class="nav-link" routerLink="/" fragment="que-hacemos">
                        Qué hacemos
                    </a>

                    <a class="nav-link" routerLink="/campanias" fragment="campanas">
                        Campañas
                    </a>

                    <a class="nav-link" routerLink="/quienes-somos">
                        Quiénes somos
                    </a>

                    @if (!isLoggedIn()) {
                        <a class="nav-link nav-cta" routerLink="/registro">
                        Unite
                    </a>

                        <a class="nav-link nav-cta" routerLink="/login">
                            Accedé
                        </a>
                    }

                    @if (isLoggedIn()) {
                        <a class="nav-link nav-cta" (click)="logout()" style="cursor:pointer">
                            Salir
                        </a>
                    }

                </nav>

            </div>

        </div>

    </header>

    <router-outlet></router-outlet>

</div>