<div class="contenedor-principal">

  <h1>Gestión de Usuarios</h1>


  <div class="card-estadistica">

    <div>
      <h2>{{ usuarios.length }}</h2>
      <p>Usuarios Registrados</p>
    </div>

    <div class="icono-usuarios">
      👥
    </div>

  </div>


  <div class="barra-superior">


    <div class="buscador">

      <input type="text" placeholder="Buscar usuario por nombre, email, DNI..." />

      <button>
        🔍
      </button>

    </div>



    <button class="btn-perfiles">
      Ver Perfiles Completos
    </button>

  </div>


  <div class="tabla-header">

    <span>Perfil</span>
    <span>Contacto</span>
    <span>Datos</span>
    <span>Acciones</span>

  </div>


  @for (usuario of usuarios; track usuario.id) {

  <div class="usuario-card">


    <div class="perfil">

      <div class="avatar">
        👤
      </div>

      <div>

        <small>Perfil</small>

        <h3>
          {{ usuario.nombre }} {{ usuario.apellido }}
        </h3>

        <p>
          DNI: #{{ usuario.dni }}
        </p>

      </div>

    </div>


    <div class="contacto">

      <small>Contacto</small>

      <p>
        {{ usuario.email }}
      </p>

    </div>


    <div class="datos">
      <small>Grupo Sanguíneo</small>
      <span class="grupo">
        {{ usuario.grupo_sanguineo_texto }}
      </span>
    </div>



    <div class="acciones">
      <button class="btn-ver" (click)="abrirModal(usuario, 'ver')">Ver</button>
      <button class="btn-editar" (click)="abrirModal(usuario, 'editar')">Editar</button>
      <button class="btn-eliminar" (click)="abrirModal(usuario, 'eliminar')">Eliminar</button>
    </div>
  </div>
  }

  @if (mostrarModal) {
  <app-usuario-modal [usuario]="usuarioSeleccionado" [modo]="modoModal" (cerrar)="cerrarModal()"
    (actualizar)="cargarUsuarios()" />
  }


</div>