header {
    background: linear-gradient(90deg, #2a2a5c, #344d92);
    color: white;
}

footer {
    background: #2a2a5c;
    color: white;
}

.btn-fucsia {
    background-color: #d238ac;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
}


@media (max-width: 768px) {
    #inicio h1 {
        font-size: 2rem;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }
}