<div class="container">
    <div class="card">
        <div class="left">
            <h1>
                {{ modoEdicion ? 'Editar Campaña' : 'Nueva Campaña' }}
            </h1>

            <form [formGroup]="campaniaForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <label>Título</label>
                    <input formControlName="titulo" />
                    @if (obtenerError('titulo')) {
                    <p class="error"> {{ obtenerError('titulo') }}</p>}
                </div>

                <div class="input-group">
                    <label>Descripción</label>
                    <textarea rows="6" formControlName="descripcion"></textarea>
                    @if (obtenerError('descripcion')) {
                    <p class="error"> {{ obtenerError('descripcion') }}</p>}
                </div>

                <div class="input-group">
                    <label>Ubicación</label>
                    <input formControlName="ubicacion" />
                    @if (obtenerError('ubicacion')) {
                    <p class="error"> {{ obtenerError('ubicacion') }}</p>}
                </div>

                <div class="input-group">
                    <label>Fecha inicio</label>
                     <input type="date" formControlName="fecha_inicio" [min]="minFechaInicio" />
                    @if (obtenerError('fecha_inicio')) {
                    <p class="error"> {{ obtenerError('fecha_inicio') }}</p>}
                </div>

                <div class="input-group">
                    <label>Fecha fin</label>
                     <input type="date" formControlName="fecha_fin" [min]="fechaMinima" />
                     @if (obtenerError('fecha_fin')) {
                     <p class="error"> {{ obtenerError('fecha_fin') }}</p>}
                     @if (mensajeErrorFechas) {
                     <p class="error">{{ mensajeErrorFechas }}</p>
                     }
                 </div>

                 <div class="input-group">
                     <label>Estado (automático)</label>
                     <input formControlName="estado_campania" readonly />
                 </div>

                <button type="submit" class="submit-btn">
                    {{ modoEdicion ? 'Actualizar' : 'Crear' }}
                </button>
            </form>
        </div>
    </div>
</div>
