/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #0f172a;
}

.btn-fucsia {
    background-color: #d238ac;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
}
