<div class="container">
  <div class="card">

    <div class="left">
      <h1>Iniciar Sesión</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="input-group">
          <label>Email</label>
          <input type="email" placeholder="Email" formControlName="email">
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <small class="error">
              @if (loginForm.get('email')?.errors?.['required']) {
                El email es obligatorio
              }
              @if (loginForm.get('email')?.errors?.['email']) {
                Formato inválido
              }
            </small>
          }
        </div>

        <div class="input-group">
          <label>Contraseña</label>
          <input type="password" placeholder="Contraseña" formControlName="password">
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <small class="error">
              @if (loginForm.get('password')?.errors?.['required']) {
                La contraseña es obligatoria
              }
              @if (loginForm.get('password')?.errors?.['minlength']) {
                Mínimo 4 caracteres
              }
            </small>
          }
        </div>

        <a class="forgot-link" routerLink="/recuperar-password">
          ¿Olvidaste tu contraseña?
        </a>

        <button type="submit" class="submit-btn">Iniciar sesión</button>

        @if (mensaje) {
          <p class="mensaje">{{ mensaje }}</p>
        }

      </form>
    </div>

    <div class="right">
      <img src="https://cdn-icons-png.flaticon.com/512/829/829243.png" alt="donacion">
      <h2>Unite a la comunidad y doná hoy.</h2>
    </div>

  </div>
</div>
