@if (dashboardData$ | async; as dashboard) {

<div class="dashboard-page">

    <section class="dashboard-header">

        <div>
            <h1>Dashboard</h1>
            <p>Resumen general del sistema SangreYa.</p>
        </div>

        <button class="primary-btn" (click)="crearCampania()">
            Nueva campaña
        </button>

    </section>

    <section class="kpi-grid">

        <article class="kpi-card">
            <span class="kpi-label">Total campañas</span>
            <h2>{{ dashboard.total_campanias }}</h2>
            <p class="positive">Campañas registradas</p>
        </article>

        <article class="kpi-card">
            <span class="kpi-label">Inscripciones</span>
            <h2>{{ dashboard.total_inscripciones }}</h2>
            <p class="positive">Inscripciones registradas</p>
        </article>

        <article class="kpi-card">
            <span class="kpi-label">Donantes activos</span>
            <h2>{{ dashboard.total_donantes }}</h2>
            <p class="positive">Donantes registrados</p>
        </article>

        <article class="kpi-card highlight">
            <span class="kpi-label">Objetivo mensual</span>
            <h2 class="porcentaje">85%</h2>
            <p>Muy buen rendimiento</p>
        </article>

    </section>

    <section class="charts-grid">

        <article class="chart-card">

            <div class="card-header">

                <h3>Estado de campañas</h3>

                <button class="view-btn" (click)="abrirModal('campanas')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </button>

            </div>

            <div class="campaign-chart-layout">


                <div class="chart-placeholder pie-chart" [style.background]="dashboard.conicGradient">

                    <div class="pie-center">
                        100%
                    </div>

                    <div class="chart-tooltip">
                        <strong>{{ dashboard.campanias_por_tipo[0]?.estado || 'Sin campañas' }}</strong>
                        <span>{{ dashboard.campanias_por_tipo[0]?.porcentaje || 0 }}% del total</span>
                    </div>

                </div>

                <div class="chart-legend">

                    @for (item of dashboard.campanias_por_tipo; track item.estado) {

                    <div class="legend-item">

                        <span class="legend-color" [style.background]="item.color"></span>

                        <div>
                            <strong>{{ item.estado }}</strong>
                            <p>{{ item.porcentaje }}%</p>
                        </div>

                    </div>

                    }

                </div>

            </div>

        </article>

        <article class="chart-card">

            <div class="card-header">

                <h3>Donantes mensuales</h3>

                <button class="view-btn" (click)="abrirModal('inscripciones')">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </button>

            </div>

            <div class="bar-chart">

                @for (mes of dashboard.meses; track mes.clave) {

                <div class="bar-item">

                    <div class="bar-tooltip">
                        <strong>{{ mes.mes }}</strong>
                        <span>{{ mes.donantes }} donantes</span>
                    </div>

                    <div class="bar" [style.height.%]="mes.altura"></div>

                    <span class="bar-label">
                        {{ mes.mes }}
                    </span>

                </div>

                }

            </div>

            <p class="chart-hint">

                <svg class="hint-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="16" x2="12" y2="12"></line>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                </svg>

                Pasá el cursor sobre cada barra para ver más información.

            </p>

        </article>

    </section>

    <section class="table-card">

        <div class="card-header">
            <h3>Campañas recientes</h3>
            <button class="secondary-btn" (click)="verTodasCampanias()">
                Ver todas
            </button>
        </div>

        <div class="table-wrapper">

            <table>

                <thead>

                    <tr>
                        <th>Campaña</th>
                        <th>Ubicación</th>
                        <th>Centro médico</th>
                        <th>Estado</th>
                    </tr>

                </thead>

                <tbody>

                    @for (
                    campania of dashboard.campanias_recientes;
                    track campania.id
                    ) {

                    <tr>

                        <td>
                            {{ campania.titulo }}
                        </td>

                        <td>
                            {{ campania.ubicacion }}
                        </td>

                        <td>
                            {{ campania.centro_salud_detalle?.nombre || 'Sin asociar' }}
                        </td>

                        <td>

                            <span class="badge" [class.active]="campania.estado === 'Activa'"
                                [class.ended]="campania.estado === 'Finalizada'">

                                {{ campania.estado }}

                            </span>

                        </td>

                    </tr>

                    } @empty {

                    <tr>
                        <td colspan="4">
                            No hay campañas recientes
                        </td>
                    </tr>

                    }

                </tbody>

            </table>

        </div>

    </section>

</div>

@if (modalAbierto) {

<div class="modal-overlay" (click)="cerrarModal()">

    <div class="modal-content" (click)="$event.stopPropagation()">

        <button class="close-modal" (click)="cerrarModal()">
            ✕
        </button>

        @if (modalAbierto === 'campanas') {

        <div class="modal-chart">

                    <h2>Estado de campañas</h2>

            <div class="campaign-chart-layout">

                <div class="chart-placeholder pie-chart" [style.background]="dashboard.conicGradient">

                    <div class="pie-center">
                        100%
                    </div>

                    <div class="chart-tooltip">
                        <strong>{{ dashboard.campanias_por_tipo[0]?.estado || 'Sin campañas' }}</strong>
                        <span>{{ dashboard.campanias_por_tipo[0]?.porcentaje || 0 }}% del total</span>
                    </div>

                </div>

                <div class="chart-legend">

                    @for (item of dashboard.campanias_por_tipo; track item.estado) {

                    <div class="legend-item">

                        <span class="legend-color" [style.background]="item.color"></span>

                        <div>
                            <strong>{{ item.estado }}</strong>
                            <p>{{ item.porcentaje }}%</p>
                        </div>

                    </div>

                    }

                </div>

            </div>

        </div>

        }

        @if (modalAbierto === 'inscripciones') {

        <div class="modal-chart">

                <h2>Donantes mensuales</h2>

            <div class="bar-chart">

                @for (mes of dashboard.meses; track mes.clave) {

                <div class="bar-item">

                    <div class="bar-tooltip">
                        <strong>{{ mes.mes }}</strong>
                        <span>{{ mes.donantes }} donantes</span>
                    </div>

                    <div class="bar" [style.height.%]="mes.altura"></div>

                    <span class="bar-label">
                        {{ mes.mes }}
                    </span>

                </div>

                }

            </div>

            <p class="chart-hint">
                <svg class="hint-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="16" x2="12" y2="12"></line>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                </svg>
                Pasá el cursor sobre cada barra para ver más información.
            </p>

        </div>

        }

    </div>

</div>

}

} @else {
<div class="dashboard-loading">Cargando información del dashboard...</div>
}
